/*
	
	Stylesheet for vBank
	
*/

@import 'fonts.css';
@import 'foundation.min.css';

$green: #82ce20;
$grey: #666;
$light-grey: #f1f2f2;



/*
	
	Typography
	
	Header One - Strictly for top level headers
	e.g Banners, big sections
	
	Header Two - Header for larger sections and subheader for h1
	
	Header Three - Header for short sections and as a subheader for h2
	
	Header Four - Used in navigation and for buttons
	
*/

// Header One
h1 {
	font-family: "ostrich", sans-serif;
	font-size: 3.75rem;
	line-height: 1em;
	letter-spacing: .03em;
}

// Header Two
h2 {
	font-family: "futura";
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2em;
	letter-spacing: .086em;
	
	text-transform: uppercase;
}

// Header Three
h3 {
	font-family: "futura";
	font-size: 1.125em;
	font-weight: 500;
	line-height: 1.2em;
	letter-spacing: .086em;
	
	text-transform: uppercase;
}

// Header Four
h4 {
	font-family: "futura";
	font-size: 1em;
	font-weight: 400;
	line-height: 1.2em;
	letter-spacing: .086em;
}

// Paragraph
p {
	font-family: "futura";
	font-size: 1em;
	font-weight: 400;
	line-height: 2em;
	letter-spacing: .086em;
}

// ------- Type Helpers ------- //

h1, h2, h3, h4, h5, h6, p {
	
	margin: 0px;
	padding: 0px;
	
	// Weights
	&.book {
		font-weight: 400;
	}
	&.medium {
		font-weight: 500;
	}
	&.bold {
		font-weight: 700;
	}
	
	// Styles
	&.lowercase {
		text-transform: none;
	}
	&.uppercase {
		text-transform: uppercase;
	}
	
	// Colors
	&.green {
		color: $green;
	}
	&.grey {
		color: $grey;
	}
	&.light-grey {
		color: #b3b3b3;
	}
	&.white {
		color: #fff;
	}
}



/*
	
	General
	
*/

main {
	min-height: calc(100vh - 124px);
}

section {
	padding: 60px 0px;
	
	&:first-of-type {
		padding-top: 120px;
	}
	&:last-of-type {
		padding-bottom: 120px;
	}
	
	&.grey {
		background: $light-grey;
		padding: 120px 0px;
	}
	&.full-pb {
		padding-bottom: 120px;
	}
}

// Banner

.banner {
	padding-top: 120px;
}

// Display
.inline-block {
	display: inline-block;
}

// Height
.view-height {
	min-height: calc(100vh - 124px);
}

// -------- Utility --------//

.bg-image {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.line-after {
	position: relative;
	display: inline-block;
	
	&:after {
		display: block;
		content: "";
		position: absolute;
			right: -100%;
			top: 50%;
		background: $green;
		width: 80%; min-width: 200px;
		height: 3px;
		border-radius: 1000px;
		
		transform: translateY(-50%);
	}
}

.line-under {
	position: relative;
	display: inline-block;
	
	&:after {
		display: block;
		content: "";
		position: absolute;
			bottom: 0;
			left: 0;
		width: 100%;
		height: 1px;
		background: $green;
		border-radius: 1000px;
	}
}


// -------- Foundation -------- //

.grid-container {
	max-width: 90em;
	margin: 0 auto;
}

// -------- Interactive -------- //

a {
	@extend p;
	color: #000;
}

// Button
.button {
	display: inline-block;
	min-width: 120px;
	
	padding: 10px 30px;
	background: $green;
	border: 3px solid $green;
	color: #fff;
	border-radius: 1000px;
	
	line-height: 1em;
	text-align: center;
	
	&.outline {
		background: transparent;
		border: 3px solid $green;
		color: $green;
	}
}

// -------- Header --------//

header {
	padding: 20px 2vw;
	.logo {
		width: 140px;
	}
	a {
		margin-left: 5vw;
	}
	.button {
		margin-left: 0px;
	}
}

// -------- Footer -------- //

footer {
	background: $green;
	padding: 10px 2vw;
	
	.logo {
		width: 90px;
	}
}



/*
	
	Pages
	
*/

// -------- Homepage ------- //

.homepage-banner {
	h1 {
		padding-top: 40px;
		padding-bottom: 15px;
	}
	p {
		padding-bottom: 50px;
	}
	a {
		padding-bottom: 10px;
	}
}
.homepage-accounts {
	padding-bottom: 50px;
	.item {
		max-width: 75px;
		text-align: center;
		
		img {
			display: inline-block;
			height: 40px;
			margin-bottom: 20px;
		}
	}
}

// -------- About -------- //

.about-banner {
	h1 {
		margin-bottom: 50px;
	}
	h2 {
		margin-top: 50px;
	}
	p {
		margin-top: 10px;
	}
}
.join-the-team {
	.bg-image {
		height: 320px;
	}
	.content {
		p {
			margin-top: 40px;
		}
	}
}

//-------- Blog -------- //

.blog-page {
	.grid-container {
		max-width: 75rem;
	}
}
.featured-blog-post {
	
	.grid-x {
		border: 1px solid #ccc;
	}
	.bg-image {
		height: 50vh;
	}
	.content {
		padding: 35px;
		
		h2 {
			margin-bottom: 50px;
			padding-bottom: 50px;
		}
		h4.grey {
			padding-bottom: 5px;
		}
	}
}
.post {
	box-shadow: 0px 0px 6px 13px #f3f3f3;
	
	.bg-image {
		width: 100%;
		height: 200px;
	}
}