/*
	
	Stylesheet for vBank
	
*/

@import 'fonts.css';
@import 'foundation.min.css';

$green: #82ce20;
$grey: #666;
$light-grey: #f1f2f2;

@media (max-width: 1024px) {
	html {
		font-size: 80%;
	}
}

@media (max-width: 640px) {
	html {
		font-size: 70%;
	}
}

/*
	
	Typography
	
	Header One - Strictly for top level headers
	e.g Banners, big sections
	
	Header Two - Header for larger sections and subheader for h1
	
	Header Three - Header for short sections and as a subheader for h2
	
	Header Four - Used in navigation and for buttons
	
*/

// Header One
h1 {
	font-family: "ostrich", sans-serif;
	font-size: 3.75rem;
	line-height: 1em;
	letter-spacing: .03em;
}

// Header Two
h2 {
	font-family: "futura";
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2em;
	letter-spacing: .086em;
	
	text-transform: uppercase;
}

// Header Three
h3 {
	font-family: "futura";
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.6em;
	letter-spacing: .086em;
	
	text-transform: uppercase;
}

// Header Four
h4 {
	font-family: "futura";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.8em;
	letter-spacing: .086em;
}

// Paragraph
p {
	font-family: "futura";
	font-size: 1rem;
	font-weight: 400;
	line-height: 2em;
	letter-spacing: .086em;
}

// ------- Type Helpers ------- //

h1, h2, h3, h4, h5, h6, p {
	
	margin: 0px;
	padding: 0px;
	
	// Weights
	&.book {
		font-weight: 400;
	}
	&.medium {
		font-weight: 500;
	}
	&.bold {
		font-weight: 700;
	}
	
	// Styles
	&.lowercase {
		text-transform: none;
	}
	&.uppercase {
		text-transform: uppercase;
	}
	
	// Colors
	&.green {
		color: $green;
	}
	&.grey {
		color: $grey;
	}
	&.light-grey {
		color: #b3b3b3;
	}
	&.white {
		color: #fff;
	}
	
	// Width
	&.sm-width {
		max-width: 26em;
	}
}

ul {
	@extend p;
	list-style-type: none;
	
	li {
		position: relative;
		margin-left: 25px;
			&:before {
			position: absolute;
				left: -25px;
				top: 0;
			content: '—';
			color: $green;
		}	
	}
	
	// Width
	&.sm-width {
		li {
			max-width: 26em;
		}
	}
}

/*
	
	General
	
*/

main {
	min-height: calc(100vh - 124px);
}

section {
	padding: 80px 0px;
	
	&:first-of-type {
		padding-top: 120px;
	}
	&:last-of-type {
		padding-bottom: 120px;
	}
	
	&.grey {
		background: $light-grey;
		padding: 120px 0px;
	}
	&.full-pb {
		padding-bottom: 120px;
	}
}

@media (max-width: 640px) {
	section {
		padding: 60px 0px;
		&:first-of-type {
			padding-top: 100px;
		}
	}
}

// Banner

.banner {
	padding-top: 120px;
}

// Display
.inline-block {
	display: inline-block;
}

// Height
.view-height {
	min-height: calc(100vh - 124px);
}

// -------- Utility --------//

.bg-image {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 200px;
}

.line-after {
	position: relative;
	display: inline-block;
	
	&:after {
		display: block;
		content: "";
		position: absolute;
			right: -100%;
			top: 50%;
		background: $green;
		width: 80%; min-width: 200px;
		height: 3px;
		border-radius: 1000px;
		
		transform: translateY(-50%);
	}
}

.line-under {
	position: relative;
	display: inline-block;
	
	&:after {
		display: block;
		content: "";
		position: absolute;
			bottom: 0;
			left: 0;
		width: 100%;
		height: 1px;
		background: $green;
		border-radius: 1000px;
	}
}

.small-width {
	max-width: 26em;
	margin: 0 auto;
}
.medium-width {
	max-width: 34em;
	margin: 0 auto;
}

@media (max-width: 1024px) {
	.line-after {
		&:after {
			width: 50%;
		}
	}
}

@media (max-width: 640px) {
	.line-after {
		&:after {
			display: none;
		}
	}
}

// -------- Foundation -------- //

.grid-container {
	max-width: 90em;
	margin: 0 auto;
	padding: 0px 5%;
}
.responsive-embed.widescreen {
	padding-bottom: 45%;
}

// -------- Interactive -------- //

a {
	@extend p;
	color: #000;
}

// Button
.button {
	position: relative;
	z-index: 1;
	@extend p;
	font-family: "Futura";
	display: inline-block;
	min-width: 150px;
	
	padding: 10px 30px;
	
	background: transparent;
	color: #fff;
	border-radius: 1000px;
	
	line-height: 1em;
	text-align: center;
	color: #fff;
	transition: all .2s ease-out;
	
	&:after {
		display: block;
		position: absolute;
			top: 0;
			left: 0;
		content: "";
			width: 100%;
			height: 100%;
		border-radius: inherit;
		box-shadow: inset 0 0 0 35px $green;
		transform-origin: center;
		z-index: -1;
		
		transition: box-shadow .3s ease-out, transform .3s;
		transform: scale3d(1, 1, 1);
	}
	&:hover {
		color: $green;
		
		&:after {
			box-shadow: inset 0 0 0 3px $green;
			transform: scale3d(1.02,1.02,1)
		}
	}
	&:active {
		transform: translateY(1px);
	}
	
	&.grey {
		color: #fff;
		&:after {
			box-shadow: inset 0 0 0 35px $grey;
		}
	}
	&.outline {
		background: transparent;
		color: $green;
		
			&.grey {
				color: $grey;
				background: transparent;
				&:after {
					box-shadow: inset 0 0 0 3px $grey;	
				}
			}
		&:after {
			box-shadow: inset 0 0 0 3px $green;
		}
		&:hover {
			color: #fff;
			
			&.grey {
				color: #fff;
				&:after {
					box-shadow: inset 0 0 0 35px $grey;
				}
			}
			&:after {
				box-shadow: inset 0 0 0 35px $green;
			}
		}
	}
}

input[type="submit"] {
	@extend p;
	background: $green;
	color: #fff;
	border-radius: 1000px;
	padding: 10px 30px;
	min-width: 150px;
}

// Link
.link {
	color: #d0d2d3;
	text-decoration: underline;
	
	transition: color .2s ease-out;
	
	&:hover {
		color: $green;
	}
}

// Text Input
input[type='text'] {
	border-radius: 10px;
	margin-top: 5px;
	border: 3px solid #e6e6e6;
	box-shadow: none;
	outline: none;
	padding: 20px 0px;
	padding-left: 20px;
	
	transition: all .1s ease-out;
	
	&:focus {
		border: 3px solid #d4d4d4;
		box-shadow: none;
		outline: none;
	}
	&::placeholder {
		@extend p;
		opacity: 1;
		color: #e6e6e6 !important;
	}
	
	&.green {
		border-color: $green;
		
		&::placeholder {
			color: $green !important;
		}
	}
}

// -------- Menu ---------- //
menu {
	position: fixed;
		top: 70px;
		left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 100;
	padding-left: 0px;
	margin-top: 0px;
	padding: 0px 80px;
	max-height: 0px;
	overflow: hidden;
	
	transition: all .3s ease-out;
	.grid-y {
		height: 100%;
	}
	a {
		font-size: 1.6rem;
	}
	&.is-open {
		max-height: 1000px;
	}
}
.menu-opener {
	position: fixed;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 100;
	
	.building-one {
		position: absolute;
			left: 50%;
			bottom: 0;
	}
	.building-two {
		position: absolute;
			left: 10%;
			bottom: 0;
		animation-name: build-two;
		animation-duration: 2s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		transform: translate(50px, 350px);
	}
	.building-three {
		position: absolute;
			left: 0;
			bottom: -10px;
		animation-name: build-one;
		animation-duration: 2.5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		transform: scale(1,1) translate(20px, 200px) rotate(20deg);
		transform-origin: center;
	}
}

@keyframes build-one {
	0% {transform: translate(20px, 350px) }
	50% {transform: translate(0px, 20px) }
	100% {transform: translate(-20px, 350px) }
}

@keyframes build-two {
	0% {transform: translate(50px, 350px) }
	50% { transform: translate(25px, 0px) }
	100% { transform: translate(0px, 350px) }
}

// -------- Header --------//

header {
	position: relative;
	z-index: 400;
	padding: 20px 2vw;
	.logo {
		width: 140px;
	}
	a {
		margin-left: 5vw;
	}
	.button {
		margin-left: 0px;
	}
	.hamburger {
		cursor: pointer;
		display: inline-block;
		width: 30px;
		margin-right: 5vw;
	}
}
@media (max-width: 1024px) {
	header {
		padding: 20px;
		a {
			margin-left: 0px;
			margin-right: 5vw;
		}
	}
}
@media (max-width: 640px) {
	header {
		.button {
			min-width: 0px;
		}
		.logo {
			width: 80px;
		}
	}
}

// -------- Footer -------- //

footer {
	background: $green;
	padding: 10px 2vw;
	
	.logo {
		width: 90px;
	}
}



/*
	
	Pages
	
*/

// -------- Homepage ------- //

.homepage-banner {
	padding-top: 50px !important;
	h1 {
		padding-top: 40px;
		padding-bottom: 15px;
	}
	p {
		padding-bottom: 50px;
	}
	a {
		padding-bottom: 10px !important;
	}
}
.homepage-accounts {
	padding-bottom: 50px;
	.item {
		max-width: 75px;
		text-align: center;
		
		img {
			display: inline-block;
			height: 40px;
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 1024px) {
	.homepage-banner {
		img {
			margin-bottom: 120px;
		}
	}
}

@media (max-width: 640px) {
	.homepage-banner {
		img {
			margin-bottom: 80px;
		}
	}
}

// -------- About -------- //

.about-banner {
	h1 {
		margin-bottom: 50px;
	}
	h2 {
		margin-top: 50px;
	}
	p {
		margin-top: 10px;
	}

}
.join-the-team {
	.bg-image {
		height: 320px;
	}
	.content {
		p {
			margin-top: 40px;
		}
	}
}

@media (max-width: 1024px) {
	.about-banner {
		img {
			margin-bottom: 60px;
		}
	}
}

//-------- Blog -------- //

.blog-page {
	.grid-container {
		max-width: 75rem;
	}
}
.featured-blog-post {
	
	.grid-x {
		border: 1px solid #ccc;
	}
	.bg-image {
		height: 50vh;
	}
	.content {
		padding: 35px;
		
		h2 {
			margin-bottom: 50px;
			padding-bottom: 50px;
		}
		h4.grey {
			padding-bottom: 5px;
		}
	}
}
.posts {
	margin: 0 auto;
}
.post {
	box-shadow: 0px 0px 2px 3px #eee;
	direction: block;
	float: left;
	margin-top: 20px;	
	.content {
		padding: 20px;
	}
	h3 {
		margin-bottom: 40px;
	}
	.bg-image {
		width: 100%;
		height: 200px;
	}
}

// -------- Login -------- //

.login {
	overflow-x: hidden;
	position: relative;
	min-height: 100vh;
	
	.city-illustration {
		position: absolute;
			bottom: -25px;
			left: 0;
		width: 100%;
	}
	.blimp {
		animation: travel 30s linear;
		animation-delay: 5s;
		animation-iteration-count: infinite;
		position: absolute;
			top: 20%;
			left: -25%;
		width: 250px;
	}
	.cloud-one {
		animation: float 1.5s ease-in-out;
		animation-delay: 0s;
		animation-delay: 15s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		position: absolute;
			bottom: 35%;
			left: 15%;
	}
	.cloud-two {
		animation: float 1.8s ease-in-out;
		animation-delay: 0s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		position: absolute;
			right: 25%;
			top: 40%;
	}
	.cloud-three {
		animation: float 2.5s ease-in-out;
		animation-delay: 0s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		position: absolute;
			right: 20%;
			top: 35%;
	}
	.space-man {
		animation: crash 5s linear;
		animation-iteration-count: infinite;
		width: 150px;
		position: absolute;
		top: -20px;
		right: 20%;
		transform-origin: center;
		
		transform: rotate(-20deg);
	}
}
.login-form {
	position: absolute;
	width: 20%; min-width: 300px; max-width: 500px;
		top: 40%;
		left: 50%;
	
	transform: translate(-50%, -50%);
	
	input {
		margin-bottom: 20px;
	}
	.logo {
		max-width: 150px;
		margin-bottom: 40px;
		margin-left: -5px;
	}
	.button {
		width: 100%;
		margin-bottom: 10px;
		margin-top: 20px;
	}
}

@keyframes float {
	0% {transform: translate(2%, 15%);}
	100% {transform: translate(1%, -15%);}
}
@keyframes travel {
	0% {left: -15%; top: 20%;}
	25% {left: 25%; top: 10%;}
	50% {left: 50%; top: 15%;}
	100% {left: 115%; top: 20%;}
}
@keyframes spaceMage {
	0% {transform: rotate(60deg);}
	100% {transform: rotate(-180deg);}
}
@keyframes crash {
	0% {top: -20%;}
	10% {top: -10%; transform: rotate(20deg);}
	20% {top: 0%;transform: rotate(40deg);}
	30% {top: 10%; transform: rotate(60deg);}
	40% {top: 20%; transform: rotate(80deg);}
	50% {top: 35%; transform: rotate(100deg);}
	60% {top: 50%; transform: rotate(120deg);}
	70% {top: 75%; transform: rotate(140deg);}
	80% {top: 90%; transform: rotate(160deg);}
	100% {top: 100%; transform: rotate(200deg);}
}

// -------- Accounts -------- //

.card {
	padding: 30px;
	border: 1px solid #e6e7e8;
	border-radius: 5px;
	h2 {
		margin-top: 10px;
	}
	.icon {
		margin: 40px 0px;
		height: 60px;
		
		img {
			height: 100%;
			width: auto;
		}
	}
	a {
		display: block;
	}
	.button {
		margin-top: 40px;
		margin-bottom: 5px;
		width: 55%; min-width: 200px;
	}
}

.feature-one,
.feature-two {
	h3 {
		margin-top: 20px;
		margin-bottom: 20px;
		max-width: 20em;
	}
	ul {
		margin-bottom: 30px;
	}
}

.feature-two {
	p {
		margin-bottom: 30px;
	}
}

.cards-section {
	h3 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.accounts-questions {
	position: relative;
	
	.card-one {
		position: absolute;
		top: 0%;
		right: 10%;
		z-index: -1;
		
		transform: translateY(-55%);
	}
	.card-two {
		position: absolute;
		top: 0%;
		left: 10%;
		
		transform: translateY(-75%);
	}
	h2 {
		margin-bottom: 20px;
	}
	a {
		margin-top: 20px;
	}
}

@media (max-width: 640px) {
	.feature-one,
	.feature-two {
		.bg-image,
		img {
			margin-bottom: 30px;
		}
	}
}

// -------- Help -------- //

.help-banner {
	p {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.atm-finder-form {
	padding: 0px 4%;
	
	h1 {
		margin-bottom: 80px;
	}
}

.faqs {
	width: 100%;
	position: relative;
	
	.cloud-one {
		position: absolute;
		top: 10%;
		left: 20%;
	}
	.cloud-two {
		position: absolute;
		top: 24%;
		left: 15%;
	}
	.cloud-three {
		position: absolute;
		top: 60%;
		right: 15%;
	}
	
	h2 {
		margin-bottom: 50px;
	}
	.faq-header {
		width: 100%;
		
		img {
			display: inline-block;
		}
	}
}

.faq {
	
	margin-bottom: 30px;
	
	.faq-dropdown {
		max-height: 0px;
		overflow: hidden;
		
		transition: height .4s ease-out;
	}
	.faq-arrow {
		transition: transform .3s ease-out;
	}
	
	&.is-active {
		.faq-dropdown {
			max-height: 10000px;
		}
		.faq-arrow {
			transform: rotate(90deg);
		}
	}
	
}