/*
	
	Stylesheet for vBank
	
*/
@import url(fonts.css);
@import url(foundation.min.css);
/*
	
	Typography
	
	Header One - Strictly for top level headers
	e.g Banners, big sections
	
	Header Two - Header for larger sections and subheader for h1
	
	Header Three - Header for short sections and as a subheader for h2
	
	Header Four - Used in navigation and for buttons
	
*/
h1 {
  font-family: "ostrich", sans-serif;
  font-size: 3.75rem;
  line-height: 1em;
  letter-spacing: .03em; }

h2 {
  font-family: "futura";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: .086em;
  text-transform: uppercase; }

h3 {
  font-family: "futura";
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: .086em;
  text-transform: uppercase; }

h4 {
  font-family: "futura";
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: .086em; }

p, a {
  font-family: "futura";
  font-size: 1em;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: .086em; }

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0px;
  padding: 0px; }
  h1.book, h2.book, h3.book, h4.book, h5.book, h6.book, p.book, a.book {
    font-weight: 400; }
  h1.medium, h2.medium, h3.medium, h4.medium, h5.medium, h6.medium, p.medium, a.medium {
    font-weight: 500; }
  h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold, p.bold, a.bold {
    font-weight: 700; }
  h1.lowercase, h2.lowercase, h3.lowercase, h4.lowercase, h5.lowercase, h6.lowercase, p.lowercase, a.lowercase {
    text-transform: none; }
  h1.uppercase, h2.uppercase, h3.uppercase, h4.uppercase, h5.uppercase, h6.uppercase, p.uppercase, a.uppercase {
    text-transform: uppercase; }
  h1.green, h2.green, h3.green, h4.green, h5.green, h6.green, p.green, a.green {
    color: #82ce20; }
  h1.grey, h2.grey, h3.grey, h4.grey, h5.grey, h6.grey, p.grey, a.grey {
    color: #666; }
  h1.light-grey, h2.light-grey, h3.light-grey, h4.light-grey, h5.light-grey, h6.light-grey, p.light-grey, a.light-grey {
    color: #b3b3b3; }
  h1.white, h2.white, h3.white, h4.white, h5.white, h6.white, p.white, a.white {
    color: #fff; }

/*
	
	General
	
*/
main {
  min-height: calc(100vh - 124px); }

section {
  padding: 60px 0px; }
  section:first-of-type {
    padding-top: 120px; }
  section:last-of-type {
    padding-bottom: 120px; }
  section.grey {
    background: #f1f2f2;
    padding: 120px 0px; }
  section.full-pb {
    padding-bottom: 120px; }

.banner {
  padding-top: 120px; }

.inline-block {
  display: inline-block; }

.view-height {
  min-height: calc(100vh - 124px); }

.bg-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.line-after {
  position: relative;
  display: inline-block; }
  .line-after:after {
    display: block;
    content: "";
    position: absolute;
    right: -100%;
    top: 50%;
    background: #82ce20;
    width: 80%;
    min-width: 200px;
    height: 3px;
    border-radius: 1000px;
    transform: translateY(-50%); }

.line-under {
  position: relative;
  display: inline-block; }
  .line-under:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #82ce20;
    border-radius: 1000px; }

.grid-container {
  max-width: 90em;
  margin: 0 auto; }

a {
  color: #000; }

.button {
  display: inline-block;
  min-width: 120px;
  padding: 10px 30px;
  background: #82ce20;
  border: 3px solid #82ce20;
  color: #fff;
  border-radius: 1000px;
  line-height: 1em;
  text-align: center; }
  .button.outline {
    background: transparent;
    border: 3px solid #82ce20;
    color: #82ce20; }

.link {
  color: #d0d2d3;
  text-decoration: underline; }

input[type='text'] {
  border-radius: 10px;
  margin-top: 5px;
  border: 3px solid #e6e6e6;
  box-shadow: none;
  outline: none;
  transition: all .1s ease-out; }
  input[type='text']:focus {
    border: 3px solid #d4d4d4;
    box-shadow: none;
    outline: none; }

header {
  padding: 20px 2vw; }
  header .logo {
    width: 140px; }
  header a {
    margin-left: 5vw; }
  header .button {
    margin-left: 0px; }

footer {
  background: #82ce20;
  padding: 10px 2vw; }
  footer .logo {
    width: 90px; }

/*
	
	Pages
	
*/
.homepage-banner h1 {
  padding-top: 40px;
  padding-bottom: 15px; }

.homepage-banner p, .homepage-banner a {
  padding-bottom: 50px; }

.homepage-banner a {
  padding-bottom: 10px; }

.homepage-accounts {
  padding-bottom: 50px; }
  .homepage-accounts .item {
    max-width: 75px;
    text-align: center; }
    .homepage-accounts .item img {
      display: inline-block;
      height: 40px;
      margin-bottom: 20px; }

.about-banner h1 {
  margin-bottom: 50px; }

.about-banner h2 {
  margin-top: 50px; }

.about-banner p, .about-banner a {
  margin-top: 10px; }

.join-the-team .bg-image {
  height: 320px; }

.join-the-team .content p, .join-the-team .content a {
  margin-top: 40px; }

.blog-page .grid-container {
  max-width: 75rem; }

.featured-blog-post .grid-x {
  border: 1px solid #ccc; }

.featured-blog-post .bg-image {
  height: 50vh; }

.featured-blog-post .content {
  padding: 35px; }
  .featured-blog-post .content h2 {
    margin-bottom: 50px;
    padding-bottom: 50px; }
  .featured-blog-post .content h4.grey {
    padding-bottom: 5px; }

.post {
  box-shadow: 0px 0px 6px 13px #f3f3f3; }
  .post .bg-image {
    width: 100%;
    height: 200px; }

.login {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh; }
  .login .city-illustration {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%; }
  .login .blimp {
    animation: travel 30s linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 20%;
    left: 5%;
    width: 250px; }
  .login .cloud-one {
    animation: float 1.5s ease-in-out;
    animation-delay: 0s;
    animation-delay: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    bottom: 35%;
    left: 15%; }
  .login .cloud-two {
    animation: float 1.8s ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    right: 25%;
    top: 40%; }
  .login .cloud-three {
    animation: float 2.5s ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    right: 20%;
    top: 35%; }
  .login .space-man {
    animation: crash 5s linear;
    animation-iteration-count: infinite;
    width: 150px;
    position: absolute;
    top: -20px;
    right: 20%;
    transform-origin: center;
    transform: rotate(-20deg); }

.login-form {
  position: absolute;
  width: 20%;
  min-width: 300px;
  max-width: 500px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .login-form input {
    margin-bottom: 20px; }
  .login-form .logo {
    max-width: 150px;
    margin-bottom: 40px;
    margin-left: -5px; }
  .login-form .button {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px; }

@keyframes float {
  0% {
    transform: translate(2%, 15%); }
  100% {
    transform: translate(1%, -15%); } }

@keyframes travel {
  0% {
    left: -15%;
    top: 20%; }
  25% {
    left: 25%;
    top: 10%; }
  50% {
    left: 50%;
    top: 15%; }
  100% {
    left: 115%;
    top: 20%; } }

@keyframes spaceMage {
  0% {
    transform: rotate(60deg); }
  100% {
    transform: rotate(-180deg); } }

@keyframes crash {
  0% {
    top: -20%; }
  10% {
    top: -10%;
    transform: rotate(20deg); }
  20% {
    top: 0%;
    transform: rotate(40deg); }
  30% {
    top: 10%;
    transform: rotate(60deg); }
  40% {
    top: 20%;
    transform: rotate(80deg); }
  50% {
    top: 35%;
    transform: rotate(100deg); }
  60% {
    top: 50%;
    transform: rotate(120deg); }
  70% {
    top: 75%;
    transform: rotate(140deg); }
  80% {
    top: 90%;
    transform: rotate(160deg); }
  100% {
    top: 100%;
    transform: rotate(200deg); } }

/*# sourceMappingURL=style.css.map */
