{% extends '_layout' %}
{% block content %}

<section class="featured-blog-post">
	<div class="grid-container">
		<div class="grid-x align-bottom align-center">
			
			<div class="small-12 medium-8 cell bg-image" style="background-image: url('assets/images/featured-image-thumb.png')"></div>
			<div class="small-12 medium-4 cell content">
				<h2 class="line-under lowercase">Learn to Save Money: Start Slowly</h2>
				<h4 class="grey">August 8, 2018</h4>
				<h4 class="light-grey">Business Success</h4>
			</div>
			
		</div>
	</div>
</section>

<div class="grid-container blog-search">
	<div class="grid-x grid-margin-x align-middle">
		<div class="medium-auto small-12 cell">
			<input type="text" placeholder="Search..." />
		</div>
		<div class="medium-4 small-12 cell">
			<input type="text" placeholder="All Categories" />
		</div>
		<div class="shrink cell">
			<a class="button outline">Search</a>
		</div>
	</div>
</div>
<section class="blog-posts no-padding">
	<div class="grid-container">
		<div class="posts">
			<div class="grid-x grid-margin-x">
			
				{% set counter = 1 %}
				{% set posts = craft.entries.section('blog').all() %}
				{% for post in posts %}
				<div class="post small-12 medium-6 large-4 cell">
					<a href="{{ post.url }}">
					{% if post.blogThumbnail.one() is not null %}
					<div class="bg-image" style="background-image: url('{{ post.blogThumbnail.one().url }}');"></div>
					{% endif %}
					<div class="content">
						<h3 class="lowercase">{{ post.title }}</h3>
						<div class="line-full"></div>
						<h4 class="grey">{{ post.datePosted|date('M d, Y') }}</h4>
						{% set categories = post.blogCategory.all() %}
						{% if categories|length %}
						<h4 class="light-grey">{% for category in categories %}{{ category.title }}{% endfor %}</h4>
						{% endif %}
					</div>
					</a>
				</div>
				{% if counter != 3 %}
					{% set counter = counter + 1 %}
				{% else %}
					{% set counter = 1 %}
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% js %}
$('.posts').masonry({
  itemSelector: '.post'
});
{% endjs %}


{% endblock %}