{% extends '_layout' %}
{% block content %}

<section class="featured-blog-post">
	<div class="grid-container">
		<div class="grid-x align-bottom align-center">
			
			<div class="small-12 medium-8 cell bg-image" style="background-image: url('assets/images/featured-image-thumb.png')"></div>
			<div class="small-12 medium-4 cell content">
				<h2 class="line-under lowercase">Learn to Save Money: Start Slowly</h2>
				<h4 class="grey">August 8, 2018</h4>
				<h4 class="light-grey">Business Success</h4>
			</div>
			
		</div>
	</div>
</section>

<section class="blog-posts">
	<div class="grid-container">
		<div class="posts">
			<div class="small-12 medium-6 large-4 cell sizing"></div>
			<div class="post small-12 medium-6 large-4 cell">
				<div class="bg-image" style="background-image: url('assets/images/thumb-1.png');"></div>
				<div class="content">
					<h4>To Rent or to Buy: Pros and Cons Every House Hunter Should Consider</h4>
				</div>
			</div>
			<div class="post small-12 medium-6 large-4 cell">
				<div class="bg-image" style="background-image: url('assets/images/thumb-1.png');"></div>
				<div class="content">
					<h4>To Rent or to Buy: Pros and Cons Every House Hunter Should Consider</h4>
				</div>
			</div>
		</div>
	</div>
</section>

{% js %}
$('.posts').masonry({
  columnWidth: '.sizing',
  itemSelector: '.post'
});
{% endjs %}


{% endblock %}