<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#a55f41"/>
	
	<title>{% if title is defined %}{{ title  }} | {% endif %}{{ siteName }}</title>
	
	<link rel="shortcut icon" href="{{ siteUrl }}_assets/images/favicon.png" type="image/x-icon">
	
	<!-- Stylesheet -->
	<link href="{{ siteUrl }}assets/css/foundation.min.css" rel="stylesheet"/>
	<link href="assets/css/font.css" rel="stylesheet"/>
	<link href="{{ siteUrl }}assets/css/style.css" rel="stylesheet"/>
	
	<!-- Scripts -->
	<script src="{{ siteUrl }}assets/js/jquery.js"></script>
	<script src="{{ siteUrl }}assets/js/masonry.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
{% block head %}

{% endblock %}

</head>
<body>

	<div class="menu-opener">
		<img src="assets/icons/building-one.png" class="building-one" />
		<img src="assets/icons/building-two.png" class="building-two" />
		<img src="assets/icons/building-three.png" class="building-three" />
	</div>

	<menu>
		<div class="grid-y grid-margin-y align-left align-center">
			<div class="shrink cell">
				<a href="{{ siteUrl }}accounts">Accounts</a>
			</div>
			<div class="shrink cell">
				<a href="{{ siteUrl }}blog">Blog</a>
			</div>
			<div class="shrink cell">
				<a href="{{ siteUrl }}about">About</a>
			</div>
			<div class="shrink cell">
				<a href="{{ siteUrl }}help">Help</a>
			</div>
		</div>
	</menu>
	{% if entry.slug != "login" %}
	<div class="header-spacer hide-for-medium"></div>
	<header>
		<div class="grid-x align-justify align-middle">
			<div class="shrink cell">
				<a href="{{ siteUrl }}" class="no-margin">
					<img class="logo" src="assets/icons/logo.svg" />
				</a>
			</div>
			<div class="auto cell hide-for-small show-for-medium medium-text-right large-text-left">
				<a href="{{ siteUrl }}accounts">Accounts</a>
				<a href="{{ siteUrl }}blog">Blog</a>
				<a href="{{ siteUrl }}about">About</a>
				<a href="{{ siteUrl }}help">Help</a>
			</div>
			<div class="auto cell hide-for-medium"></div>
			<div class="shrink cell">
				<a class="button outline" href="{{ siteUrl }}login-page">Login</a>
			</div>
			<div class="shrink cell text-right hide-for-medium ">
				<div class="hamburger" id="hamburger">
					<img src="assets/icons/hamburger.png" />
				</div>
			</div>
		</div>
	</header>
	{% endif %}
	<main class="{{ entry.slug }}">
		{% block content %}
		<h1>Your craft is not set up properly</h1>
		{% endblock %}
	</main>
	{% if entry.slug != "login" %}
	<footer>
		<div class="grid-x align-justify">
			<div class="shrink cell">
				<img class="logo" src="assets/icons/logo-white.svg" />
			</div>
			<div class="auto cell">
				<p class="text-right white">©2018 Vbank, All Rights Reserved</p>
			</div>
		</div>
	</footer>
	{% endif %}
	
<script src="{{ siteUrl }}assets/js/foundation.min.js"></script>
<script src="{{ siteUrl }}assets/js/what-input.min.js"></script>
<script src="{{ siteUrl }}assets/js/script.js"></script>
</script>
</body>
</html>
