{% extends "_layout" %}
{% block content %}

<section class="about-banner">
	<div class="grid-container">
		<div class="grid-x">
			
			<div class="small-12 medium-8 cell">
				<h1>More thank a bank,<br>
					We're a partner</h1>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				<h2 class="line-after bold">Lorem ipsum dolor sit</h2>
			</div>
			
		</div>
	</div>
</section>

{% endblock %}