{% extends "_layout" %}
{% block content %}

<section class="about-banner banner full-pb">
	<div class="grid-container">
		<div class="grid-x align-justify align-bottom">
			
			<div class="small-12 medium-6 cell">
				<h1>More thank a bank,<br>
					We're a partner</h1>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				<h2 class="line-after bold">Lorem ipsum dolor sit</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum </p>
			</div>
			<div class="small-12 medium-5 cell">
				<img src="assets/images/about-banner-illustration.png" />
			</div>
			
		</div>
	</div>
</section>

<section class="join-the-team grey">
	<div class="grid-container">
		<div class="grid-x align-middle align-justify">
			
			<div class="small-12 medium-6 cell bg-image" style="background-image: url('assets/images/about-join.png');"></div>
			<div class="small-12 medium-5 cell content">
				<h2 class="bold">Join the team at V Bank</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
				<a class="button outline">Apply Today</a>
			</div>
			
		</div>
	</div>
</section>

{% endblock %}