{% extends "_layout" %}
{% block content %}
<section class="banner text-center">
	<h1>An easier way to bank</h1>
</section>

<section class="accounts-type">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-stretch small-up-1 medium-up-2 large-up-4">
			
			<div class="card cell">
				<h4 class="uppercase medium">Free Checking</h4>
				<h2 class="bold">$0 Monthly</h2>
				<div class="icon">
					<img src="assets/icons/cash.svg" />
				</div>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
				<a class="button outline">Apply Now</a>
				<a class="link">Account Details</a>
			</div>
			<div class="card cell">
				<h4 class="uppercase medium">Interest Bearing</h4>
				<h2 class="bold">2% APY</h2>
				<div class="icon">
					<img src="assets/icons/bars.svg" />
				</div>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
				<a class="button outline">Apply Now</a>
				<a class="link">Account Details</a>
			</div>
			<div class="card cell">
				<h4 class="uppercase medium">Consumer</h4>
				<h2 class="bold">Lorem Ipsum</h2>
				<div class="icon">
					<img src="assets/icons/hand.svg" />
				</div>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
				<a class="button outline">Apply Now</a>
				<a class="link">Account Details</a>
			</div>
			<div class="card cell">
				<h4 class="uppercase medium">Free Checking</h4>
				<h2 class="bold">$0 Monthly</h2>
				<div class="icon">
					<img src="assets/icons/pig.svg" />
				</div>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
				<a class="button outline">Apply Now</a>
				<a class="link">Account Details</a>
			</div>
			
		</div>
	</div>
</section>

<section class="feature-one">
	<div class="grid-container">
		<div class="grid-x align-justify">
			
			<div class="small-12 medium-5 cell bg-image" style="background-image: url('assets/images/account-featured-image.png')"></div>
			<div class="small-12 medium-5 cell">
				<h4 class="medium">Mobile Banking & Deposit</h4>
				<h3 class="bold">Access your bank wherever life takes you</h3>
				<ul>
					<li>Mobile deposits from your phone.</li>
					<li>Alerts and notifications to give you all the information you need.</li>
					<li>Ipsum consecteteur adipiscing elit.</li>
					<li>Consecteteur adipiscing elit.</li>
				</ul>
				<a class="button outline">Learn More</a>
			</div>
			
		</div>
	</div>
</section>

<section class="feature-two">
	<div class="grid-container">
		<div class="grid-x">
			
			<div class="small-12 medium-5 cell">
				<h4 class="medium">Lorem Ipsum Dolor</h4>
				<h3 class="bold">Lorem ipsum dolor sit amet, consecteteur</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad </p>
				<a class="button outline">Learn More</a>
			</div>
			
		</div>
	</div>
</section>
{% endblock %}