{% extends "_layout" %}
{% block content %}
<section class="banner text-center">
	<h1>An easier way to bank</h1>
</section>

<section class="accounts-type">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-stretch small-up-2 medium-up-2 large-up-4">
			
			<div class="card cell">
				<div class="grid-y align-justify">
					<div class="shrink cell">
						<h4 class="uppercase medium">Free Checking</h4>
					</div>
					<div class="shrink cell">
						<h2 class="bold">$0 Monthly</h2>
					</div>
					<div class="shrink cell">
						<div class="icon">
							<img src="assets/icons/cash.svg" />
						</div>
					</div>
					<div class="shrink cell hide-for-small-only">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
					</div>
					<div class="shrink cell">
						<a class="button outline">Apply Now</a>
						<a class="link">Account Details</a>
					</div>
				</div>
			</div>
			<div class="card cell">
				<div class="grid-y align-justify">
					<div class="shrink cell">
						<h4 class="uppercase medium">Interest Bearing</h4>
					</div>
					<div class="shrink cell">
						<h2 class="bold">2% APY</h2>
					</div>
					<div class="shrink cell">
						<div class="icon">
							<img src="assets/icons/bars.svg" />
						</div>
					</div>
					<div class="shrink cell hide-for-small-only">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
					</div>
					<div class="shrink cell">
						<a class="button outline">Apply Now</a>
						<a class="link">Account Details</a>
					</div>
				</div>
			</div>
			<div class="card cell">
				<div class="grid-y align-justify">
					<div class="shrink cell">
						<h4 class="uppercase medium">Consumer</h4>
					</div>
					<div class="shrink cell">
						<h2 class="bold">Lorem Ipsum</h2>
					</div>
					<div class="shrink cell">
						<div class="icon">
							<img src="assets/icons/hand.svg" />
						</div>
					</div>
					<div class="shrink cell hide-for-small-only">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
					</div>
					<div class="shrink cell">
						<a class="button outline">Apply Now</a>
						<a class="link">Account Details</a>
					</div>
				</div>
			</div>
			<div class="card cell">
				<div class="grid-y align-justify">
					<div class="shrink cell">
						<h4 class="uppercase medium">Free Checking</h4>
					</div>
					<div class="shrink cell">
						<h2 class="bold">$0 Montly</h2>
					</div>
					<div class="shrink cell">
						<div class="icon">
							<img src="assets/icons/pig.svg" />
						</div>
					</div>
					<div class="shrink cell hide-for-small-only">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
					</div>
					<div class="shrink cell">
						<a class="button outline">Apply Now</a>
						<a class="link">Account Details</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>

<section class="feature-one">
	<div class="grid-container">
		<div class="grid-x align-justify">
			
			<div class="small-12 medium-5 cell bg-image" style="background-image: url('assets/images/account-featured-image.png')"></div>
			<div class="small-12 medium-5 cell">
				<h4 class="medium">Mobile Banking & Deposit</h4>
				<h3 class="bold">Access your bank wherever life takes you</h3>
				<ul class="sm-width">
					<li>Mobile deposits from your phone.</li>
					<li>Alerts and notifications to give you all the information you need.</li>
					<li>Ipsum consecteteur adipiscing elit.</li>
					<li>Consecteteur adipiscing elit.</li>
				</ul>
				<a class="button outline">Learn More</a>
			</div>
			
		</div>
	</div>
</section>

<section class="feature-two">
	<div class="grid-container">
		<div class="grid-x align-center align-justify">
			
			<div class="small-12 medium-5 small-order-2 medium-order-1 cell">
				<h4 class="medium">Lorem Ipsum Dolor</h4>
				<h3 class="bold">Lorem ipsum dolor sit amet, consecteteur</h3>
				<p class="sm-width">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad </p>
				<a class="button outline">Learn More</a>
			</div>
			<div class="small-12 medium-6 small-order-1 medium-order-2 cell">
				<img src="assets/images/account-illustration.png" />
			</div>
			
		</div>
	</div>
</section>

<section class="cards-section full-pb">
	<div class="grid-container">
		<div class="grid-x align-center">
			
			<div class="small-12 medium-5 large-4 cell text-center">
				<h4 class="medium">U-Choose and Card Valet</h4>
				<h3 class="bold">Lorem Ipsum Dolor Sit Amet, Consecteteur</h3>
				<p class="small-width">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad </p>
			</div>
			
		</div>
	</div>
</section>

<section class="accounts-questions grey">
	<div class="grid-container">
		<div class="grid-x align-center">
			<img class="card-one hide-for-small show-for-large" src="assets/images/card-one.png" />
			<img class="card-two hide-for-small show-for-large" src="assets/images/card-two.png" />
			
			<div class="small-12 medium-5 large-4 cell text-center">
				<h2 class="bold">More Questions?</h2>
				<p class="small-width">Check our help page to see if we’ve answered you or reach out to us directly.</p>
				<a class="button outline" href="{{ siteUrl }}help">Get Help</a>
			</div>
			
		</div>
	</div>
</section>
{% endblock %}