{% extends "_layout" %}

{% block content %}

<div class="grid-x view-height align-middle">
	<div class="small-12 cell">
<section class="homepage-banner">
	<div class="grid-container">
		<div class="grid-x align-bottom">
			
			<div class="small-12 medium-10 large-6 cell small-order-2 large-order-1">
				<h2 class="line-after">Open a New Account</h2>
				<h1>Mobility with options</h1>
				<p>Manage your money effieciently and instantly from anywhere. Explore our accounts to see what we can do for you.</p>
				
				<div class="grid-x small-up-2 medium-up-4 homepage-accounts align-justify">
					<div class="cell item">
						<img src="assets/icons/bars.svg" />
						<h4 class="medium">Interest Banking</h4>
					</div>
					<div class="cell item">
						<img src="assets/icons/hand.svg" />
						<h4 class="medium">Consumer Loans</h4>
					</div>
					<div class="cell item">
						<img src="assets/icons/cash.svg" />
						<h4 class="medium">Free Checking</h4>
					</div>
					<div class="cell item">
						<img src="assets/icons/pig.svg" />
						<h4 class="medium">Savings</h4>
					</div>
				</div>
				
				<a class="button" href="{{ siteUrl }}accounts">Explore our Accounts</a>
				
			</div>
			<div class="small-7 large-6 small-order-1 large-order-2 cell text-center">
				<img class="inline-block" src="assets/images/homepage-illustration.png" />
			</div>
			
		</div>
	</div>
</section>
	</div>
</div>

{% endblock %}