{% extends "_layout" %}
{% block content %}

<div class="login-form">
	<div class="grid-x">
		
		<div class="small-12 cell">
			<img src="assets/icons/logo.svg" class="logo" />
		</div>
		<div class="small-12 cell">
			<h4>Access Id</h4>
			<input type="text" />
		</div>
		<div class="small-12 cell">
			<h4>Password</h4>
			<input type="text" />
		</div>
		<div class="small-12 cell">
			
			<div class="grid-x grid-margin-x">
				<div class="small-12 medium-5 cell">
					<a class="button">Sign In</a>
				</div>
				<div class="small-12 medium-7 cell">
					<a class="button outline">Sign Up Now</a>
				</div>
			</div>
			<div class="grid-x grid-margin-x">
				<div class="small-12 medium-5 cell text-left">
					<a class="link">Reset Password</a>
				</div>
				<div class="small-12 medium-7 cell text-right">
					<a class="link">Forgot Email?</a>
				</div>
			</div>
			
		</div>
		
	</div>

</div>
<img class="city-illustration" src="assets/images/login-1.png" />
<img class="blimp" src="assets/images/blimp.png" />
<img class="cloud-one" src="assets/images/cloud-1.png" />
<img class="cloud-two" src="assets/images/cloud-2.png" />
<img class="cloud-three" src="assets/images/cloud-3.png" />
{% endblock %}